<div class="parent">
    <div class="container">
        <div class="footer">
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo" class="logo-image">
            </div>
            <div class="phone1">
                <img src="assets/images/tel.png" alt="phone-number" class="phone-image">
                <span class="phone-text">+420 000 000 000</span>
            </div>
            <div class="address">
                <img src="assets/images/Group.png" alt="address" class="phone-image">
                <span class="phone-text"> Na Plzeňce 1166/0
                   <br> 150 00</span>
            </div>
        </div>
        <p class="footer-text">Privacy Policy</p>
    </div>
    
</div>
