<!-- <div class="parent">
    <div class="parent-menu">
        <div class="container">
            <div class="menu">
                <div class="logo">
                    <img src="assets/images/logo.png" alt="logo">
                </div>
                <div>
                    <ul>
                        <li class="menu-item"><a routerLink="gallery"  class="menu-block">Gallery</a></li>
                        <li class="menu-item"><a routerLink="price" class="menu-block">Prices for services</a></li>
                        <li class="menu-item"><a routerLink="about" class="menu-block">About us</a></li>
                        <li class="menu-item"><a routerLink="contact" class="menu-block">Contact</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div> -->
<div class="parent">
    <section id="menu">
        <div class="container">
            <div class="menu">
                <div class="logo"> 
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" alt="logo" class="logo-image">
                    </a>
                </div>
                <div class="logo1">
                    <ul>
                        <li class="menu-item"><a routerLink="/gallery"  class="menu-block">Gallery</a></li>
                        <li class="menu-item"><a routerLink="/price" class="menu-block">Prices for services</a></li>
                        <li class="menu-item"><a routerLink="/about" class="menu-block">About us</a></li>
                        <li class="menu-item"><a routerLink="/contact" class="menu-block">Contact</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </section>
    <section id="mobileMenu">
        <div class="container">
            <div class="menu">
                <div class="logo" > 
                    <a routerLink="/home">
                        <img src="../../assets/images/logo.png" class="logo-image">
                    </a>
                </div>
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            <img src="../../assets/images/Group 61.png">
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" routerLink="/gallery">Gallery</a></li>
                      <li role="menuitem"><a class="dropdown-item" routerLink="/price">Prices for services</a></li>
                      <li role="menuitem"><a class="dropdown-item" routerLink="/about">About us</a></li>
                      <li role="menuitem"><a class="dropdown-item" routerLink="/contact">Contact</a>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>
    </section>
</div>