        <div class="parent">
            <div class="container">
                <div class="menu">
                    <div class="logo">
                        <img src="assets/images/logo.png" alt="logo">
                    </div>
                    <div>
                        <ul>
                            <li class="menu-item"><a href="#"  class="menu-block">Gallery</a></li>
                            <li class="menu-item"><a href="#" class="menu-block">Prices for services</a></li>
                            <li class="menu-item"><a href="#" class="menu-block">About us</a></li>
                            <li class="menu-item"><a href="#" class="menu-block">Contact</a></li>
                        </ul>
                    </div>
                </div> 
                <div>
                    <img src="assets/images/swg.png" alt="number">
                    <h1 class="text">Woops</h1>
                    <p class="text1">Oh, you must be lost,
                        there is no such page.</p>
                    <div class="button-item">
                            <a class="link" routerLink="/home">Go to the home page</a>
                    </div>
                </div>
            </div>
        </div> 
        